@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: "lato", sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.title {
    font-size: 50px;
    margin-bottom: 50px;
}

.inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 40px;
}

.input {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    margin-top: 8px;
    transition: box-shadow border-color 0.2s ease;
}
.input:focus {
    border-color: purple;
    outline: none !important;
    box-shadow: 0 0 4px purple;
}

.select {
    height: 45px;
    width: 100%;
    margin-bottom: 17px;
    border-radius: 7px;
    padding: 14px;
    height: 50px;
    font-size: 16px;
    border: 1px solid #DADCE0;
    margin-top: 8px;
}
.select:focus {
    border-color: purple;
    outline: none !important;
    box-shadow: 0 0 4px purple;
}

.submitBtn {
    display: block;
    margin: auto;
    padding: 15px 30px;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: box-shadow 0.2s ease;
}
.submitBtn:hover {
    box-shadow: 0px 0px 5px black;
}
.submitBtn:active {
    box-shadow: 0px 0px 15px purple;
}